<aside class="page-navigation-container" role="complementary">
  <nav role="navigation" class="page-navigation" aria-label="parts to this guide">
    <% @presenter.navigation_parts.each_slice(Part.group_size(@presenter.navigation_parts)).with_index do |parts,i| %>
      <ol<%= " start=\"#{Part.group_size(@presenter.navigation_parts) + 1}\"".html_safe if i == 1 %>>
        <% parts.each do |nav_part| %>
          <% if (@presenter.current_part.nil? && nav_part.slug == nil) || (@presenter.current_part && @presenter.current_part.slug == nav_part.slug) %>
            <li class="active">
              <span class="part-title"><%= nav_part.title %></span>
              <% if nav_part.slug.nil? %>
                <span class="part-description">Current travel advice</span>
              <% end %>
            </li>
          <% else %>
            <li>
              <%= link_to travel_advice_country_path(@presenter.country.slug, nav_part.slug), title: nav_part.title do %>
                <span class="part-title"><%= nav_part.title %></span>
                <% if nav_part.slug.nil? %>
                  <span class="part-description">Current travel advice</span>
                <% end %>
              <% end %>
            </li>
          <% end %>
        <% end %>
      </ol>
    <% end %>
  </nav>
  <section class="subscriptions">
    <h2 class="visuallyhidden">Subscriptions</h2>
    <ul>
      <li><%= link_to "Get email alerts", @presenter.email_signup_link, class: "email-alerts" %></li>
      <li><%= link_to "Subscribe to feed", travel_advice_country_path(@presenter.country.slug, format: :atom), class: "feed" %></li>
    </ul>
  </section>
</aside>
