<%= render partial: 'govuk_component/breadcrumbs', locals: { breadcrumbs: @presenter.breadcrumbs } %>

<div class="grid-row">
  <div id="content" role="main" class="group <%= @presenter.parts.any? ? "multi" : "single" %>-page">
    <%= render partial: "govuk_component/title", locals: { title: @presenter.country.name, context: "Foreign travel advice" } %>

    <div class="article-container group">
      <%= render partial: "travel_advice_navigation" if @presenter.parts.any? %>

      <div class="content-block">
        <div class="inner">

        <% if @presenter.current_part %>
          <%= render partial: "govuk_component/title", locals: { title: @presenter.current_part.title, average_length: "long" } %>

          <%= render partial: "govuk_component/govspeak", locals: { content: @presenter.current_part.body } %>
        <% else %>
          <%= render partial: "country_summary", locals: {presenter: @presenter} %>
        <% end %>

          <div class="print-link"><%= link_to t('formats.guide.printer_friendly_page'), travel_advice_country_print_path(@presenter.country.slug), rel: "nofollow" %></div>
        </div>
      </div>
    </div>
  </div>

  <div class="related-container">
    <%= render partial: 'govuk_component/related_items', locals: { sections: @presenter.related_links } %>
  </div>
</div>

<% content_for :extra_headers do %>
  <link rel="alternate" type="application/json" href="<%= api_path %>" />
  <%= auto_discovery_link_tag :atom, travel_advice_country_path(@presenter.country.slug, :format => :atom),
    :title => "Recent updates for #{@presenter.country.name}" %>
  <%- if @presenter.previous_part -%>
    <link rel="prev" href="<%= travel_advice_country_path(@presenter.country.slug, @presenter.previous_part.slug) %>" />
  <%- end -%>
  <%- if @presenter.next_part -%>
    <link rel="next" href="<%= travel_advice_country_path(@presenter.country.slug, @presenter.next_part.slug) %>" />
  <%- end -%>
  <% if @presenter.description %>
    <meta name="description" content="<%= @presenter.description %>">
  <% end %>
<% end %>
