<%= content_for :page_class, @presenter.content_class_dasherized %>
<% content_for :extra_headers do %>
  <meta name="govuk:publishing-request-id" content="<%= @presenter.publishing_request_id %>">
<% end %>
<%= render partial: 'govuk_component/breadcrumbs', locals: { breadcrumbs: @presenter.breadcrumbs } %>

<div class="grid-row">
  <div class="column-two-thirds-desktop">
    <%= render partial: "govuk_component/title", locals: { title: @presenter.country.name, context: "Foreign travel advice" } %>
    <%= render partial: "travel_advice_navigation" if @presenter.parts.any? %>

    <% if @presenter.current_part %>
      <h1 class="part-content-title">
        <%= @presenter.current_part.title %>
      </h1>
      <%= render partial: "govuk_component/govspeak", locals: { content: @presenter.current_part.body } %>
    <% else %>
      <%= render partial: "country_summary", locals: {presenter: @presenter} %>
    <% end %>

    <div class="print-link">
      <%= link_to t('formats.guide.printer_friendly_page'),
                  travel_advice_country_print_path(@presenter.country.slug),
                  rel: "nofollow" %>
    </div>
  </div>
  <div class="column-one-third-desktop related-items-container">
    <%= render partial: 'govuk_component/related_items', locals: { sections: @presenter.related_links } %>
  </div>
</div>

<% content_for :extra_headers do %>
  <link rel="alternate" type="application/json" href="<%= api_path %>" />
  <%= auto_discovery_link_tag :atom, travel_advice_country_path(@presenter.country.slug, :format => :atom),
    :title => "Recent updates for #{@presenter.country.name}" %>
  <%- if @presenter.previous_part -%>
    <link rel="prev" href="<%= travel_advice_country_path(@presenter.country.slug, @presenter.previous_part.slug) %>" />
  <%- end -%>
  <%- if @presenter.next_part -%>
    <link rel="next" href="<%= travel_advice_country_path(@presenter.country.slug, @presenter.next_part.slug) %>" />
  <%- end -%>
  <% if @presenter.description %>
    <meta name="description" content="<%= @presenter.description %>">
  <% end %>
<% end %>
