<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8" />
  <title><%= @presenter.title %> - GOV.UK</title>
  <% if @presenter.description.present? %>
    <meta name="description" content="<%= @presenter.description %>">
  <% end %>

  <%= yield :extra_headers %>
</head>
<body>
  <div id="wrapper" class="<%= @presenter.content_class_dasherized %>">
    <main role="main">
      <%= yield %>
    </main>
  </div>
</body>
</html>
