<!DOCTYPE html>
<html>
  <head>
    <title><%= @presenter.title %> - GOV.UK</title>
    <%= yield :extra_stylesheets %>
    <%= yield :extra_headers %>
    <!--[if gt IE 8]><!--><%= stylesheet_link_tag "application" %><!--<![endif]-->
    <!--[if IE 6]><%= stylesheet_link_tag "application-ie6" %><![endif]-->
    <!--[if IE 7]><%= stylesheet_link_tag "application-ie7" %><![endif]-->
    <!--[if IE 8]><%= stylesheet_link_tag "application-ie8" %><![endif]-->
    <%= csrf_meta_tags %>
    <%= render partial: 'govuk_component/analytics_meta_tags', locals: { content_item: @content_item } %>
  </head>
  <body>
    <div id="wrapper">
      <main role="main" id="content" class="<%= yield(:page_class) %>">
        <%= yield %>
      </main>
    </div>
  </body>
</html>
